@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";


:root {
  --color-bg: #ffffff;
  --color-text: #213547;
  --color-button-bg: #f9f9f9;
  --color-link: #646cff;
  --color-link-hover: #747bff;
  --color-toast-bg: #f0f0f0;
}

[data-theme='dark'] {
  --color-bg: #242424;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-button-bg: #1a1a1a;
  --color-link: #8ab4f8;
  --color-link-hover: #5390ff;
  --color-toast-bg: #2a2a2a;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

button {
  background-color: var(--color-button-bg);
}

a {
  color: var(--color-link);
}
a:hover {
  color: var(--color-link-hover);
}

html, body, button, a {
  transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
}
